<html>
    <style type ="text/CSS">
        h1{ font-size: 2em; padding-left: 400px};
        #Time{ top:50%; left:50%;}
        #clockimage{padding-top: 2em; width: 500px;vertical-align: bottom;z-index: -5;}
        .TextBox{position:absolute; top:335px;left:585px;z-index: 2; font-size: 4em;}
    </style>
    <title>Clockwork!</title>>
    <div class = "TextBox"><%=Time%></div>
    <h1>Get Your Time Straight <h1>
    <img src ="/clock.png" id="clockimage">
    
    
<!DOCTYPE html>